@import "pages_sass/variables";

/* RESET and COMMON ELEMENTS */

*,
*::before,
*::after,
:root,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $black-5;
  min-height: 100vh;
  background-color: $tertiary;
}

body .background-img {
  background: url("./assets/background.png") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  border-top: 1px solid transparent; /* MARGIN OVERFLOW, lepší vyřešit přesah nahoře */
}

.body-layout {
  padding: 40px 80px 0 80px;
}

img {
  display: block;
}

p {
  font-family: $regular-text-family;
  font-size: $regular;
}

a {
  color: $black-5;
  text-decoration: none;
}

h1,
h2,
h4,
h6,
a {
  font-family: $headings-family;
  font-weight: 500;
}

li,
h5 {
  font-weight: 400;
  font-family: $headings-family;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h4 {
  font-size: $h4;
}

h5 {
  font-size: $h5;
}

h6 {
  font-size: $h6;
}

input {
  outline: none;
  border-style: solid;
  display: block;
}

li {
  list-style-type: none;
}

textarea {
  color: $black-5;
  font-family: $regular-text-family;
  font-size: $regular;

  &:focus {
    outline: none;
  }
}

/* REUSABLE TOOLS */

.text-input {
  font-family: $regular-text-family;
  font-size: $regular;
  color: $black-5;
  background-color: $tertiary;
  border: 2px solid $black-5;
  width: 400px;
  height: 53px;
  border-radius: 10px;
  padding: 16px 24px;

  &::placeholder {
    color: $black-25;
  }

  &:focus {
    border-color: $secondary;
  }

  &.error {
    border-color: $error;
  }

  &.not-avaible {
    border-color: $black-25;
    background-color: $black-75;
    color: $black-25;
    pointer-events: none;
  }

  &.smaller {
    height: 48px;
  }
}

.equal-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .right-middle-flex {
    display: flex;
    justify-content: right;
    align-items: center;
    align-self: flex-end;
  }

  p {
    margin-right: 24px;
  }
}

.non-visual-button {
  background-color: transparent;
  border: none;
  color: $black-5;
  cursor: pointer;
}

.bold {
  font-weight: bolder;
}

.app-info-center {
  width: fit-content;
  margin: 160px auto 0 auto;
  h2 {
    text-align: center;
    margin-bottom: 64px;
  }
}

.body-layout {
  .app-info-center {
    margin: 56px auto 0 auto;
  }
}

.blue-box {
  background-color: $primary;
  border: 2px solid $secondary;
  border-radius: 20px;
  padding: 40px 32px;
  h5 {
    margin-bottom: 32px;
    text-align: center;
    &:not(:first-child) {
      margin-top: 32px;
    }
  }
  label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    font-size: $h6;
    font-family: $regular;
    font-weight: 400;
    &.left {
      margin-top: 40px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  p {
    max-width: 640px;
  }
  address {
    text-align: center;
  }
}

.error-box {
  min-width: 300px;
  height: 70px;
  border: 2px solid $black-5;
  background-color: $error;
  position: fixed;
  border-radius: 10px;
  left: 50%;
  bottom: 32px;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
  animation-name: error;

  @keyframes error {
    from {
      bottom: -70px;
    }

    to {
      bottom: 32px;
    }
  }
}

.description {
  color: $black-25;
}

.not-allowed {
  pointer-events: none;
}

/* WELCOME PAGE */

.nav-list {
  display: flex;
  justify-content: space-between;
  ul {
    display: flex;
    align-items: center;
    gap: 36px;
  }
  li {
    font-size: $h6;
  }
}

.welcome-front {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 218px auto 0 auto;

  .spaceship {
    z-index: 1;
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
    display: flex;
    justify-content: space-between;
    transform: rotateZ(10deg);
    transform-origin: center;
    position: absolute;
    top: 140px;
    left: 576px;
    .spaceship-stream {
      margin: 0 0 -10px -10px;
      animation-name: stream;
      animation-duration: 2s;
      animation-direction: alternate;
      animation-iteration-count: 2;
    }
    .spaceship-cabine {
      animation-name: cabine;
      animation-delay: 0.5s;
      animation-duration: 1.5s;
      animation-direction: alternate;
      animation-iteration-count: 2;
    }

    @keyframes stream {
      from {
        margin: 0 0 -10px -10px;
      }
      to {
        margin: 0 -600px -10px 0;
      }
    }

    @keyframes cabine {
      from {
        margin: 0 0 0px 0px;
      }
      to {
        margin: 0 0 0 -300px;
      }
    }
  }

  .login {
    h1 {
      margin-bottom: 80px;
    }
    .equal-flex {
      align-items: flex-end;
      height: 215px;
    }
  }
  .representative-frame {
    position: relative;
    border-radius: 20px;
    width: 608px;
    height: 500px;
    background: url("./assets/illustration.png");
    background-repeat: no-repeat;
  }
}

.welcome-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 96px 0;
  margin-top: 400px;
  background-color: $tertiary;
  height: 100%;

  ul {
    margin: 40px 0 64px 0;

    li {
      display: inline-block;
      margin-inline: 12px;
      font-size: $h5;
      cursor: pointer;
    }

    &.underline-left-tvorba::after,
    &.underline-left-zamer::after,
    &.underline-left-nastroje::after,
    &.underline-left-namet::after {
      display: block;
      content: "";
      height: 2px;
      width: 100px;
      margin-top: 2px;
      background-color: $black-5;
      transition: transform 0.3s;
    }

    &.underline-left-zamer::after {
      transform: translateX(95px);
    }

    &.underline-left-nastroje::after {
      transform: translateX(205px);
    }

    &.underline-left-namet::after {
      transform: translateX(314px);
    }
  }

  p {
    text-align: center;
    width: 340px;
    height: 160px;
  }
}

/* REGISTRATION PAGE */

.registration {
  .equal-flex {
    gap: 40px;
  }
}

/* HOME PAGE */

.icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  .icon path {
    stroke: $black-5;
  }
  &.opened {
    .icon path {
      stroke: $secondary;
    }
  }
  &:hover:not(.opened) {
    .icon path {
      stroke: $black-25;
    }
  }

  .icon.blue_theme path {
    stroke: $primary;
  }

  &:hover {
    .icon.blue_theme path {
      stroke: $primary;
      stroke-opacity: 0.9;
    }
  }
}

.profile-pic {
  width: 64px;
  height: 64px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  user-select: none;
  cursor: pointer;
}

.side-flex {
  position: absolute;
  top: 132px;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.profile-blue-side-box,
.blue-side-box {
  z-index: 1;
  padding: 16px 24px;
  background-color: $primary;
  line-height: 25px;
  width: 320px;
  li {
    font-size: $h6;
    font-weight: 500;
  }
  .non-visual-button {
    font-family: $headings-family;
    font-size: $h6;
    font-weight: 500;
  }
}

.blue-side-box {
  border-radius: 0 10px 10px 0;
  .people {
    &:not(:first-child) {
      margin-top: 40px;
    }

    li {
      display: flex;
      justify-content: space-between;
    }

    .accept {
      display: flex;
      gap: 16px;

      svg {
        height: 16px;
        width: 16px;
      }

      path {
        stroke: $black-5;
      }

      .cross {
        path {
          fill: $black-5;
        }
        &:hover {
          path {
            fill: $black-25;
          }
        }
      }

      .check {
        path {
          stroke-width: 3px;
        }
        &:hover {
          path {
            stroke: $black-25;
          }
        }
      }
    }

    .description {
      margin-bottom: 8px;
    }
  }
}

.profile-blue-side-box {
  border-radius: 10px;
  position: absolute;
  top: 132px;
  right: 80px;
}

.search-bar {
  background-color: $black-15;
  border: none;
  border-radius: 25px;
  padding: 24px;
  width: 480px;

  &::placeholder {
    color: $black-75;
  }
}

.search-box {
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.search-icon {
  position: absolute;
  right: 24px;
  top: 16px;
}

.search-list {
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
  background-color: $black-15;
  border-radius: 25px;
  box-shadow: 3px 5px 10px 5px makeOpacity($black-5, 0.15);

  li {
    text-indent: 8px;
    &:not(:last-child)::after {
      content: "";
      display: block;
      border-bottom: 2px solid $black-25;
      margin: 12px 0;
    }
    .non-visual-button {
      color: $black;
    }
  }
}
