@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@400;500&display=swap");
/* PROMĚNNÉ */
/* RESET and COMMON ELEMENTS */
*, *::before, *::after, :root, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url("./assets/background.png") no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
  color: #F2F3F4;
}

.body-layout {
  margin: 40px 80px 0 80px;
}

img {
  display: block;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

a {
  color: #F2F3F4;
  text-decoration: none;
}

h1, h2, h4, h6, a {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}

li, h5 {
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-size: 95px;
}

h2 {
  font-size: 68px;
}

h4 {
  font-size: 34px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 17px;
}

input {
  outline: none;
  border-style: solid;
  display: block;
}

li {
  list-style-type: none;
}

/* REUSABLE TOOLS */
.text-input {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #F2F3F4;
  background-color: #0B1A46;
  border: 2px solid #F2F3F4;
  width: 400px;
  border-radius: 10px;
  padding: 16px 24px;
}
.text-input::placeholder {
  color: #BFC4C8;
}
.text-input:focus {
  border-color: #08EAF8;
}
.text-input.error {
  border-color: #FA0400;
}
.text-input.not-avaible {
  border-color: #BFC4C8;
  background-color: #404D59;
  color: #BFC4C8;
  pointer-events: none;
}

.equal-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.equal-flex .right-middle-flex {
  display: flex;
  justify-content: right;
  align-items: center;
  align-self: flex-end;
}
.equal-flex p {
  margin-right: 24px;
}

.non-visual-button {
  background-color: transparent;
  border: none;
  color: #F2F3F4;
  cursor: pointer;
}

.bold {
  font-weight: bolder;
}

.app-info-center {
  width: fit-content;
  margin: 160px auto 0 auto;
}
.app-info-center h2 {
  text-align: center;
  margin-bottom: 64px;
}

.body-layout .app-info-center {
  margin: 56px auto 0 auto;
}

.blue-box {
  background-color: #055CAC;
  border: 2px solid #08EAF8;
  border-radius: 20px;
  padding: 40px 32px;
}
.blue-box h5 {
  margin-bottom: 32px;
  text-align: center;
}
.blue-box h5:not(:first-child) {
  margin-top: 32px;
}
.blue-box h6 {
  margin-bottom: 16px;
}
.blue-box p {
  max-width: 640px;
}
.blue-box address {
  text-align: center;
}

.error-box {
  min-width: 300px;
  height: 70px;
  border: 2px solid #F2F3F4;
  background-color: #FA0400;
  position: fixed;
  border-radius: 10px;
  left: 50%;
  bottom: 32px;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
  animation-name: error;
}
@keyframes error {
  from {
    bottom: -70px;
  }
  to {
    bottom: 32px;
  }
}

.description {
  color: #BFC4C8;
}

/* WELCOME PAGE */
.nav-list {
  display: flex;
  justify-content: space-between;
}
.nav-list ul {
  display: flex;
  align-items: center;
  gap: 36px;
}
.nav-list li {
  font-size: 17px;
}

.welcome-front {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 218px auto 0 auto;
}
.welcome-front .spaceship {
  z-index: 1;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
  display: flex;
  justify-content: space-between;
  transform: rotateZ(10deg);
  transform-origin: center;
  position: absolute;
  top: 140px;
  left: 576px;
}
.welcome-front .spaceship .spaceship-stream {
  margin: 0 0 -10px -10px;
  animation-name: stream;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: 2;
}
.welcome-front .spaceship .spaceship-cabine {
  animation-name: cabine;
  animation-delay: 0.5s;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: 2;
}
@keyframes stream {
  from {
    margin: 0 0 -10px -10px;
  }
  to {
    margin: 0 -600px -10px 0;
  }
}
@keyframes cabine {
  from {
    margin: 0 0 0px 0px;
  }
  to {
    margin: 0 0 0 -300px;
  }
}
.welcome-front .login h1 {
  margin-bottom: 80px;
}
.welcome-front .login .equal-flex {
  align-items: flex-end;
  height: 215px;
}
.welcome-front .representative-frame {
  position: relative;
  border-radius: 20px;
  width: 608px;
  height: 500px;
  background: url("./assets/illustration.png");
  background-repeat: no-repeat;
}

.welcome-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 96px 0;
  margin-top: 400px;
  background-color: #0B1A46;
  height: 100%;
}
.welcome-main ul {
  margin: 40px 0 64px 0;
}
.welcome-main ul li {
  display: inline-block;
  margin-inline: 12px;
  font-size: 24px;
  cursor: pointer;
}
.welcome-main ul.underline-left-tvorba::after, .welcome-main ul.underline-left-zamer::after, .welcome-main ul.underline-left-nastroje::after, .welcome-main ul.underline-left-namet::after {
  display: block;
  content: "";
  height: 2px;
  width: 100px;
  margin-top: 2px;
  background-color: #F2F3F4;
  transition: transform 0.3s;
}
.welcome-main ul.underline-left-zamer::after {
  transform: translateX(95px);
}
.welcome-main ul.underline-left-nastroje::after {
  transform: translateX(205px);
}
.welcome-main ul.underline-left-namet::after {
  transform: translateX(314px);
}
.welcome-main p {
  text-align: center;
  width: 340px;
  height: 160px;
}

/* REGISTRATION PAGE */
.registration .equal-flex {
  gap: 40px;
}

/* HOME PAGE */
.icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.icon-button .icon path {
  stroke: #F2F3F4;
}
.icon-button.opened .icon path {
  stroke: #08EAF8;
}
.icon-button:hover:not(.opened) .icon path {
  stroke: #BFC4C8;
}

.profile-pic {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  user-select: none;
  cursor: pointer;
}

.side-flex {
  position: absolute;
  top: 132px;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.profile-blue-side-box, .blue-side-box {
  z-index: 1;
  padding: 16px 24px;
  background-color: #055CAC;
  line-height: 25px;
  width: 320px;
}
.profile-blue-side-box li, .blue-side-box li {
  font-size: 17px;
  font-weight: 500;
}
.profile-blue-side-box .non-visual-button, .blue-side-box .non-visual-button {
  font-family: "Ubuntu", sans-serif;
  font-size: 17px;
  font-weight: 500;
}

.blue-side-box {
  border-radius: 0 10px 10px 0;
}
.blue-side-box .people:not(:first-child) {
  margin-top: 40px;
}
.blue-side-box .people li {
  display: flex;
  justify-content: space-between;
}
.blue-side-box .people .accept {
  display: flex;
  gap: 16px;
}
.blue-side-box .people .accept svg {
  height: 16px;
  width: 16px;
}
.blue-side-box .people .accept path {
  stroke: #F2F3F4;
}
.blue-side-box .people .accept .cross path {
  fill: #F2F3F4;
}
.blue-side-box .people .accept .cross:hover path {
  fill: #BFC4C8;
}
.blue-side-box .people .accept .check path {
  stroke-width: 3px;
}
.blue-side-box .people .accept .check:hover path {
  stroke: #BFC4C8;
}
.blue-side-box .people .description {
  margin-bottom: 8px;
}

.profile-blue-side-box {
  border-radius: 10px;
  position: absolute;
  top: 132px;
  right: 80px;
}

.search-bar {
  background-color: #D9DBDE;
  border: none;
  border-radius: 25px;
  padding: 24px;
  width: 480px;
}
.search-bar::placeholder {
  color: #404D59;
}

.search-box {
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translate(-50%);
}

.search-icon {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-40%);
}